page-nosotros {
	ion-content {
		ion-card {
			ion-card-content {
				p {
					margin-bottom: 20px !important;
					line-height: 26px;
					font-size: 18px !important;
					letter-spacing: 0.1em;
				}
			}
		}
	}
}
