page-producto {

	ion-content {
		ion-card {
			ion-card-content {
				h1 {
					padding-top: 10px;
					padding-bottom: 0px;
					color: #FF9B4B !important;
					font-size: 3rem !important;
				}
				ion-card-title {
					padding-bottom: 20px;
					font-size: 2.7rem !important;
				}
			}
		}
	}
}


